:root {
  --main-bg-color:white;
  --main-gray:#f2f2f2;
  --main-red:#BD1550;
  --main-orange:#E97F02;
  --main-yellow:#F8CA00;
  --main-green:#8A9B0F;
  --main-blue:#8A9B0F;
  --main-purple:#CFB6EF;
  --main-brown:#CFB6EF;
}

body {
  margin:10px;
  background-color:var(--main-bg-color);
}

#header {
  background-color:var(--main-gray);
  font-family:sans-serif;
}

#header-flex {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}


#header > div {
  padding: 5px;
}


#menu{
  display:flex;
  font-size:24pt;
  flex: 1 1 5%;
  order:1;
  justify-content:center;
}

#menu:after{
  content:'\2263';
}

#title {
  display:flex;
  flex: 3 1 70%;
  order:2;
  font-size:18pt;
  font-weight:bolder;
  align-self:stretch;
  align-items:center;
  padding-left:10px;
}

#status {
  display:flex;
  flex-direction:column;
  flex: 1 1 25%;
  order:3;
  align-self:center;
  font-size:10pt;
  align-items:flex-start;
}

#status > div {
  display:flex;
}


#filename {
  border-top-style:solid;
  border-bottom-style:solid;
  font-weight:bolder;
}

#filename:after {
}

.available {
  color:var(--main-green);
}

.unavailable {
  color:var(--main-red);
}

.highlight {
  background-color:var(--main-purple);
}
