@charset "UTF-8";

.msg {
   display:flex;
   flex-direction:row;
   align-items:top;
   padding: 5px;
}

.msg .ndx{
   flex: 1 1 15%;
   justify-content: right;
   font-size: small;
}

.msg .entry  {
   flex: 1 1 85%;
   overflow: scroll;
   border: solid;
}

.msg .entry .header {
   font-weight: bold;
   padding: 5px;
}

.msg .entry .header .io_type {
  min-width:1em;
  float:left;
  text-align:left;
}

.msg .entry .header .title {
}

.msg .entry .data {
   word-break: break-all;
   margin: auto;
   padding: 10px;
   padding-bottom: 10px;
}

.msg.av {
   color: var(--main-blue);
}

.msg.ui {
   color: var(--main-green);
}

.msg.internal {
   color: var(--main-purple);
}

.msg.av_ext_command {
   color: var(--main-brown);
}

.msg.av_debug {
   color: var(--main-orange);
}

.msg.update{
  border-top:solid #000000;
}
