<html>

<head>
   <title>Avida-ED Diagnostics</title>
   <link rel='stylesheet' type='text/css' href='libs/jquery.jsonview.css'>
   <link rel='stylesheet' type='text/css' href='libs/messages.css'>
</head>

<body>
   <div id='control' width='20%'></div>
   <div id='messages' width="80%"></div>
   <script src="//cdn.socket.io/socket.io-1.4.5.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js" data-dojo-config="
  async:true,
  packages:[
    {name:'jquery', location:'/libs', main:'jquery-3.1.1.min'}
  ]
  "></script>
   <script>
      require([
         'dojo/dom',
         'dojo/dom-construct',
         'dojo/dom-attr',
         'dojo/dom-class',
         'dojo/dom-style',
         'dojo/_base/lang',
         'dojo/_base/array',
         'dojo/on',
         'dojo/query',
         'jquery'
      ], function(dom, domConstruct, domAttr, domClass, domStyle, lang, array, on, query, jQuery) {

         //Get jquery and json view (which depends on it) seutp
         var $ = jQuery;
         $.getScript('/libs/jquery.jsonview.js');

         var datetime_opts = {
            hour12: false,
            hour: '2-digit',
            minute: '2-digit'
         };

         /*
          Toggle whether or not a message is displayed.  If there is currently
          no data being displayed inside for this message, then go ahead
          and request that the full message be retrieved and displayed.
          Otherwise, delete the dom element currently displaying the message
          rather than trying to hide it (to save resources).
         */
         function toggleMsgByNdx(ndx) {
            if (ndx != '-') {
               var existing_data = dom.byId('div_data_ndx_' + ndx);
               if (existing_data != undefined) {
                  domConstruct.destroy(existing_data);
               } else {
                  ws_diag.emit('db_request', {
                     ndx: ndx
                  });
               }
            }
         }



         /*
          Place each message div in the main messages div.
          Message headings require special handling to get
          the inverted coloring properly set.
         */
         function appendMsg(node) {
            var msg_div = dom.byId('messages');
            domConstruct.place(node, msg_div);
            query('.entry>.header', node).forEach(function(n) {
               var s = domStyle.getComputedStyle(n);
               domStyle.set(n, 'background-color', s.color);
               domStyle.set(n, 'color', 'white');
            });
         }


         /*
          Create the div element for each message to be displayed
         */
         function createMsgElement(msg) {
            var meta = msg['meta'];
            var data = msg['data'];
            var ndx = (meta._ndx !== undefined) ? JSON.stringify(meta['_ndx']) : '';
            var msg_type = (data.type !== undefined) ? data.type : "Unknown";
            var msg_name = (data.name !== undefined) ? data.name : "";
            var msg_from = (meta._from !== undefined) ? meta._from : "unknown";
            var is_data = (meta._from === 'internal') ? '' : 'is_data';
            var update = (meta._tx_update !== undefined) ? meta._tx_update : (new Intl.DateTimeFormat('en-US', datetime_opts)).format(new Date())
            var msg_io_type = (meta._io_type !== undefined) ? meta._io_type : '-';


            // Provide icons for IN or OUT messages
            switch (msg_io_type.toLowerCase()) {
               case undefined:
                  msg_io_type = '&MediumSpace';
                  break;
               case 'in':
                  msg_io_type = '&#10094;';
                  break;
               case 'out':
                  msg_io_type = '&#10095;';
                  break;
               case '-':
                  msg_io_type = '&sdot;';
                  break;
               default:
                  msg_io_type = '&EmptyVerySmallSquare';
                  break;
            };

            // Some messages have additional information that can be placed
            // into the header
            switch (msg_type) {
               case 'userFeedback':
                  msg_name = data.level;
                  break;
               case 'update':
                  msg_name = data.update;
                  break;
            };


            // Message Entry Container
            var root_div = domConstruct.create('div', {
               class: 'msg ' + is_data + ' ' + msg_from
            });
            var num_div = domConstruct.create('div', {
               class: 'ndx'
            }, root_div);
            num_div.textContent = '[' + ndx + ' @ ' + update + ']';

            // Message Entry
            var msg_div = domConstruct.create('div', {
               id: 'ndx_' + ndx,
               class: 'entry'
            }, root_div);

            // Message Entry Header
            var msg_header_div = domConstruct.create('div', {
               class: 'header'
            }, msg_div);
            var msg_header_IO_div = domConstruct.create('div', {
               class: 'io_type'
            }, msg_header_div);
            msg_header_IO_div.innerHTML = msg_io_type;
            var msg_header_title_div = domConstruct.create('div', {
               class: 'title'
            }, msg_header_div);
            msg_header_title_div.innerHTML = msg_type + ' : ' + msg_name;

            if (ndx != '-') {
               var _this = this;
               var f = lang.hitch(_this, toggleMsgByNdx, ndx);
               on(msg_header_div, 'click', f);
            }

            return root_div;
         }



         /*
          When a new message is received, create the appropriate nodes
          and append them to the messages div.
         */
         function createAndAppendMessage(msg) {
            appendMsg(createMsgElement(msg));
         }

         /*
          Sometimes, especially when the socket server is reset, the messages
          being dispalyed are out of sync with what the server contains.  When
          a refresh is necessary, delete all data message elements and redisplay
          the conents of the messages in the database.
         */
         function doMessageRefresh(msgs) {
            array.forEach(query('.is_data'), function(n) {
               domConstruct.destroy(n);
            });
            createAndAppendMessage({
               meta: {
                  _from: 'internal'
               },
               data: {
                  type: 'DB',
                  name: 'db_refresh'
               }
            });
            array.forEach(msgs, function(m) {
               console.log(JSON.stringify(m));
               createAndAppendMessage(m);
            });
         }


         /*
          When a message is requested to be displayed (usually if the header
          for the message, which is always displayed, is clicked), this method
          is called when the server makes it available.  The necessary div
          elements and json view objects are created at this time.
         */
         function displayMsgAtNdx(e) {
            var ndx = e.ndx;
            if (ndx != undefined) {
               var msg_div = dom.byId('ndx_' + e.ndx);
               if (msg_div != undefined) {
                  var msg_id_name = 'div_data_ndx_' + ndx;
                  msg_data = domConstruct.create('div', {
                     id: msg_id_name,
                     class: 'div_msg_data'
                  }, msg_div);
                  $('#' + msg_id_name).JSONView(e.data, {
                     collapsed: true,
                     nl2br: true,
                     recursive_collapser: true
                  });
               }
            }
         }



         /* =============================================================
         All of our socket communication handlers are below
         ============================================================= */
         var ws_diag = new io.connect('http://localhost:5000/messages');
         ws_diag.on('message', function(e) {
            createAndAppendMessage(e);
         });
         ws_diag.on('connect', function(e) {
            createAndAppendMessage({
               meta: {
                  _from: 'internal'
               },
               data: {
                  type: 'Socket',
                  name: 'Connected'
               }
            });
         });
         ws_diag.on('disconnect', function(e) {
            createAndAppendMessage({
               meta: {
                  _from: 'internal'
               },
               data: {
                  type: 'Socket',
                  name: 'Disconnected'
               }
            });
         });
         ws_diag.on('db_refresh', function(e) {
            doMessageRefresh(e);
         });
         ws_diag.on('db_request', function(e) {
            displayMsgAtNdx(e);
         });
      });
   </script>
</body>

</html>
